%html{"ng-app" => "infrastructure"}
  %title
    Infographics
  %head
    %script{src:"scripts/bundle.js"}
    %script{src:"scripts/app_libs.js"}
    %script{src:"scripts/app.js"}
    %link{href: "stylesheets/main.css", rel:"stylesheet"}
  %body
    #stats
      %h1.text-center Infrastructure
      %div(ng-view="")


