%html
  %title
    Infographics
  %head
    %script{src:"scripts/bundle.js"}
    %script{src:"scripts/app.js"}
    %link{href: "stylesheets/screen.css", rel:"stylesheet"}
  %body
    %h1 Infrastructure
    #districts
