@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

body {
  @include outer-container;
}

#districts {
  position:relative;
}
.district-info-window {
  position:absolute;
  width:140px;
  height: 70px;
  background: #fff;
  border: 1px solid $light-gray;
  padding: 5px;
  text-align:center;

  h1 {
    margin: 5px;
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .district-nr {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 20px;
    height:20px;
    border-right: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
  }
}
#district-1 {
  top: 25px;
  left: 110px;
}
#district-2 {
  top: 320px;
  left:10px;
}
#district-3 {
  top: 430px;
  left:50px;
}
#district-4 {
  top: 470px;
  left:530px;
}
#district-5 {
  top: 30px;
  left:600px;
}
#district-6 {
  top: 180px;
  left:50px;
}
#district-7 {
  top: 190px;
  left:560px;
}
#district-8 {
  top: 520px;
  left:180px;
}
#district-9 {
  top: 320px;
  left:600px;
}

.district-1 { fill:rgb(229, 245, 224); }

#district-map path, #district-map line {
  stroke: #999;
}
#districts path, #barchart rect {
  stroke: #999;
}
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.b0-5 { fill: $map-blue-1-5;}
.b1-5 { fill: $map-blue-2-5;}
.b2-5 { fill: $map-blue-3-5;}
.b3-5 { fill: $map-blue-4-5;}
.b4-5 { fill: $map-blue-5-5;}


.gb0-8 { fill: $map-green-blue-1-8;}
.gb1-8 { fill: $map-green-blue-2-8;}
.gb2-8 { fill: $map-green-blue-3-8;}
.gb3-8 { fill: $map-green-blue-4-8;}
.gb4-8 { fill: $map-green-blue-5-8;}
.gb5-8 { fill: $map-green-blue-6-8;}
.gb6-8 { fill: $map-green-blue-7-8;}
.gb7-8 { fill: $map-green-blue-8-8;}

.phase {
  @include span-columns(6);
  @include omega(2n);
}

#districts {
  @include span-columns(6);
}
#district-info {
  @include span-columns(5);
}
#district-chart {
  margin-bottom: 30px;
}
.x-axis line {
  stroke: #fff;
}

.x-axis .minor {
  stroke-opacity: .5;
}

.x-axis path {
  fill: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
